<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Recover password</title>
	<link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>
<body>

  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% elseif success %}
  <div class="alert alert-success">{{ success }}</div>
  {% endif %}

	<div class="container center">
		<h1 class="title">Recover password</h1>
		<form method="POST" action="" name="form-recover-password">
			<div class="form-group">
				<label for="email"></label>
				<input type="email" name="email" id="email" aria-label="email" placeholder="Email" required />
			</div>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" required />
			<button class="btn" type="submit" name="btn-recover">Recover</button>
		</form>
	</div>

	<script type="module" src="{{ constant('BASE_URL') }}assets/js/recoverPassword.js"></script>
</body>
</html>
